[project]
	description = Testing repository for triggering gerrithub patches with buildbot ci
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mika Tammi (mikatammi)
[access "refs/for/refs/*"]
	read = group user/Mika Tammi (mikatammi)
	push = group user/Mika Tammi (mikatammi)
	label-Code-Review = -2..+2 group user/Mika Tammi (mikatammi)
	label-Verified = -1..+1 group user/Mika Tammi (mikatammi)
	rebase = group user/Mika Tammi (mikatammi)
	removeReviewer = group user/Mika Tammi (mikatammi)
	submit = group user/Mika Tammi (mikatammi)
[access "refs/heads/*"]
	read = group user/Mika Tammi (mikatammi)
	create = group user/Mika Tammi (mikatammi)
	push = +force group user/Mika Tammi (mikatammi)
	pushMerge = group user/Mika Tammi (mikatammi)
[access "refs/tags/*"]
	push = +force group user/Mika Tammi (mikatammi)
	pushTag = group user/Mika Tammi (mikatammi)
	pushSignedTag = group user/Mika Tammi (mikatammi)
